*{margin: 0; padding: 0;box-sizing: border-box;}
body{background: white; margin: 0 20px;}
header{background: #0081a7; }
h1{font-family: 'Koulen', cursive; font-size: 75px;}
menu{margin: 40px 0; text-align: center;}
ul{list-style: none; overflow: hidden;margin-bottom: 0; margin: 0; padding: 0;}
li{ float: center;display: inline-block;}
li a{display: inline-block; padding: 1em 1.25em; font-family:'Bitter', serif;font-size: 20px; color: #000;text-decoration: none;}
li a:hover{text-decoration: underline;background: #fdfcdc;color: #f07167;}

.container_consulta{background: #00afb9;font-family: 'Bitter', serif;font-size: 20px; color:#fed9b7; overflow: hidden;margin-bottom: 0; margin: 0; padding: 0; float: center;}
.consulta a:hover{text-decoration: inherit; background: #fdfcdc; color: #f07167;}

.container_Formulario{background: #f2f2f2; font-family: 'Bitter', serif;font-size: 20px;}
.nom{background:#fed9b7 ; color: #f07167 ; font-family:  ; font-size: ; }
input{vertical-align: middle; position: relative; bottom: 1px;}
